button{
    margin-left: 10px;
    background-color: #EEABC4;
    border-radius: 5px;
    width: 70px;
    border: 2px solid;
    transition: 0.2s ease-in-out;
}
button:hover{
    cursor: pointer;
}
li{
    margin-top: 5px;
    transition: font-size 0.2s ease-in-out;
    width: max-content;
}
li:hover{
    font-weight: bold;
    font-size: large;

}
div input{
    background-color: #EEABC4;
    border-radius: 5px;
    height: 20px;
}